.books__list {
    margin-top: 3%;
}

.list__title {
    font-weight: bold;
}

.list__subtitle {
    color: #666;
}

.list__book {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.book__card__access {
    border-radius: 2rem;
    padding: 2% 2% 4% 2%;
    text-align: center;
    transition: transform 160ms ease, box-shadow 160ms ease;
    height: fit-content;
}

.book__image {
    border-radius: 2rem;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.book__title {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: start;
}

.book__author,
.book__stars {
    text-align: start;
}

.book__author {
    color: #666;
    margin-bottom: 2%;
}

.book__price {
    display: flex;
    align-items: center;
}

.price__image {
    padding: 4% 6%;
    background: #000;
    color: #fafafa;
    border-radius: 2rem;
    margin-right: 3%;
    cursor: pointer;
    margin-left: 40%;
}