* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

h2,p,div {
  text-align: center;
}

a{
  text-decoration: none;
  color: #000000;
}

li,
.featured,
#newsletter-title,
.footer {
  margin: 1% 1.2%;
}

#hero-title,
#hero-paragraph,
.hero-buttons,
.footer-title,
.footer-paragraph {
  text-align: left;
}

.buttons,
.menu,
.features,
.books,
.price-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-left: 2%;
  margin-top: 2%;
  margin-right: 2%;
}

.navbar-header {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0.4%;
}

.hero-stats,
.footer {
  display: flex;
}

.main-content {
  padding: 1%;
  padding-top: 2%;
}

#hero-title, 
#hero-paragraph,
.button-explore {
  margin-bottom: 2%;
}

.hero-text{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 3%;
  margin-top: 12%;
}

.button-explore{
  margin-right: 3%;
}

.logo{
  padding-right: 6%;
}

.feature-title{
  padding-bottom: 4%;
}

.menu-contact,
.logo{
  padding-right: 20%;
}

.image-library {
  justify-content: flex-end;
  position: relative;
  display: inline-block;
  margin-left: 64%;
}

.image-hero {
  height: auto;
  display: block;
  border-radius: 3%;
  margin-right: 3%;
  margin-top: 12%;
}

.number{
  margin-bottom: 0;
}

.text{
  margin-top: 4%;
}

.button-suscribe{
  margin-left: 1%;
}

.button-allbooks,
.image-email,
.title-suscribe,
.featured,
#email-input {
  margin-top: 2%;
}

.book-detail {
  position: absolute;
  top: 84%;
  
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3% 5%;
  border-radius: 8%;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  z-index: 10;
}

.book-month,
.book-title,
.book-stars,
.book-description,
.book-author,
.book-rating {
text-align: start;
}

.footer-owns,
.footer-help,
.footer-legal {
  text-align: start;
  margin-left: 8%;
}

.footer-li{
  margin: 2% 0%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.footer-help{
  margin-left: 18%;
  margin-right: 16%;
}

.footer-relatos {
  margin-left: 2%;
}

.footer{
  padding-top: 2%;
}
