* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

h2,
div {
  text-align: center;
}

a {
  text-decoration: none;
  color: #000000;
}

/* Utilitarios */
.text-center { text-align: center; }
.text-left { text-align: left; }
.font-bold { font-weight: bold; }
